/**
 TODO(you): Add CSS for the list that you create yourself!
*/
body{margin: 0;}
.all{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, .3)),url("../images/ccu.png");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
a .home:hover{
    background-color:orange;
    border-radius: 40%;
}
.source a:link{
    color:rgb(66,244,233);
    text-decoration: none;
}
.source a:hover{
    color:rgb(244,66,206);
    text-decoration: underline;
}
.source a:visited{
    color:rgb(66,244,233);
}
.heading{
    width:100%;
    height: 1000px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items:center;
}
.heading .home{
    border-radius: 30%;
}
.heading .side_title{
    text-align: center;
    font-family: "Microsoft JhengHei",serif;
    font-size:14px;
    color:white;
    font-weight:normal;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}
.heading .title{
    text-align: center;
    font-family: "Microsoft JhengHei",serif;
    font-size:45px;
    color:white;
    font-weight:normal;
}
.body{
    color:white;
    line-height: 24px;
}
.body .row_1{
    width:100%;
    height: 800px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
    margin-top:40px;
}
.body .tree_1{
    margin:auto;
    text-align: center;
    max-width:30%;
}
.body .tree_2{
    margin:auto;
    text-align:center;
    max-width:30%;
}
.body .row_2{
    width:100%;
    height: 800px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
    margin-top:40px;
}
.body .tree_3{
    margin:auto;
    text-align: center;
    width:30%;
}
.body .tree_4{
    margin:auto;
    text-align:center;
    width:30%;
}
.row_1 .picture{
    height:100%;
}
.row_2 .picture{
    width:100%;
}
.source{
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    font-size:12px;
    font-family: "Roboto Slab",serif;
    color:white;
    font-weight:normal;
}
